.navbar {
	position: fixed;
	top: 20px;
	left: 50%;
	transform: translateX(-50%);
	z-index: 2;
	width: fit-content;

	display: flex;
	align-items: center;
	justify-content: space-between;

	padding: 0 30px;
	height: 60px;

	/* From https://css.glass */
	background: rgba(255, 255, 255, 0.15);
	box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.2);
	backdrop-filter: blur(10px);
	-webkit-backdrop-filter: blur(10px);
	border-radius: 15px;
	border: 1px solid rgba(255, 255, 255, 0.3);

	&__logo {
		margin-right: 40px;
		width: 40px;
		height: 40px;
		border-radius: 50%;
		background: rgba(255, 255, 255, 0.3);
	}

	button.navbar {
		&__link {
			&--active::after {
				transform: scaleX(1);
				transform-origin: left;
			}
		}
	}

	&__links {
		display: flex;
		gap: 32px;

		button {
			background: none;
			border: none;
			color: white;
			font-size: 16px;
			font-weight: 500;
			text-transform: capitalize;
			cursor: pointer;
			position: relative;
			padding: 5px 0;

			&::after {
				content: "";
				position: absolute;
				left: 0;
				bottom: 0;
				width: 100%;
				height: 2px;
				background: white;
				transform: scaleX(0);
				transform-origin: right;
				transition: transform 0.3s ease-in-out;
			}

			&:hover::after {
				transform: scaleX(1);
				transform-origin: left;
			}
		}
	}
}
