.s-works {
	width: 100%;
	min-height: 100vh;

	display: flex;
	flex-direction: column;
	justify-content: center;

	h1{
		text-transform: uppercase;
	}

	&__works-container {
		display: grid;
		grid-template-columns: 50% 50%;
		justify-items: center;
		align-items: center;

		&__card-container {
			transform-origin: center center;

			display: flex;
			justify-content: center;
			align-items: center;

			width: min-content;
		}
	}
}
