.s-about {
	width: 80%;
	margin-bottom: 100px;
	justify-self: center;

	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

	> h1 {
		align-self: center;
		justify-self: flex-start;
		width: fit-content;

		text-transform: uppercase;

		background-color: #f2f2fa;
		border: 10px solid #e3dfe6;
		outline: 8px solid #aa7a6f;
		box-shadow: 10px 10px rgba(0, 0, 0, 0.322);

		padding: 10px 45px 10px 45px;
		margin-bottom: 80px;
	}

	&__long-text {
		display: flex;
		flex-direction: row;
		justify-content: center;
		align-items: center;
		gap: 200px;

		> p {
			font-weight: 500;
			line-height: 25px;
			width: 50%;
		}

		&__portret-container {
			width: 300px;
			transform-origin: center left;

			background-color: #f2f2fa;
			border: 10px solid #e3dfe6;
			outline: 8px solid #aa7a6f;
			box-shadow: 10px 10px rgba(0, 0, 0, 0.322);
			border-radius: 10px;

			padding: 15px 20px 15px 20px;
		}
	}
}
