@import url("https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&family=Outfit:wght@100..900&display=swap");

body {
	margin: 0px;
	overflow-x: hidden;
}

.app {
	padding: 10px;
}

h1,
h2,
h3,
h4,
h5,
p,
span {
	font-family: "Outfit", sans-serif;
	font-optical-sizing: auto;
	font-weight: 400;
	font-style: normal;
	cursor: default;
}
