.p-home {
	&__header {
		width: 100%;
		height: calc(100vh - 20px);
		background-color: aqua;
		display: flex;
		flex-wrap: wrap;
		justify-content: flex-start;
		align-items: flex-start;
		gap: 20px;
	}
}
