.p-home {
	position: relative;

	&__header {
		width: 100%;
		height: 100vh;
		position: relative;
		display: flex;
		flex-wrap: wrap;
		justify-content: flex-start;
		align-items: flex-start;
		gap: 20px;

		&__welcome {
			position: absolute;
			width: 100%;
			height: 100%;

			display: flex;
			justify-content: center;
			align-items: center;

			&__textblock {
				display: flex;
				flex-direction: column;
				z-index: 2;
				width: fit-content;
				height: min-content;

				padding: 20px;

				text-align: center;

				> * {
					margin: 0px;
					color: white;
				}
			}
		}
	}
}
