.s-header {
	height: 100vh;
	max-height: 800px;

	padding: 0 40px;

	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;

	&__greet-container {
		flex: 2;

		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: start;
		gap: 30px;

		&__frame {
			position: relative;

			background-color: #f2f2fa;
			border: 10px solid #e3dfe6;
			outline: 8px solid #aa7a6f;

			padding: 20px 55px 20px 20px;
			box-shadow: 10px 10px rgba(0, 0, 0, 0.322);

			> * {
				margin: 0;
				z-index: 2;
			}

			> p {
				position: absolute;
				bottom: -65px;
				left: 20px;

				rotate: -1deg;

				font-size: 25px;
				line-height: 30px;

				font-family: "Shadows Into Light", cursive;
				font-weight: 500;
				font-style: normal;
			}
		}
	}

	&__window-container {
		flex: 2;
		height: 100%;

		position: relative;

		&__window {
			position: absolute;
			top: 25%;
			right: 0;
			scale: 1.3;
		}
	}
}

.shelf {
	border-top: 15px solid #c57e62;
	background-color: #ded4db;
	border-radius: 5px;

	width: 500px;
	height: 20px;

	transform-origin: top left;
}
