.s-header {
	height: 100vh;

	padding: 0 40px;

	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;

	&__greet-container {
		flex: 2;

		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: start;

		&__frame {
			background-color: #f2f2fa;
			border: 10px solid #e3dfe6;
            outline: 8px solid #aa7a6f;

            padding: 10px 45px 10px 10px;

			> * {
				margin: 0;
				z-index: 2;
			}
		}
	}

	&__objects-container {
		flex: 2;
		height: 100%;

		position: relative;

		&__window {
			position: absolute;
			top: 25%;
			right: 0;
			scale: 1.3;
		}
	}
}
