.phone-container {
	width: 300px;
	height: 600px;

	position: relative;

	&__phone {
		position: absolute;
		margin: auto auto;
		z-index: 1;
	}

	&__button {
		position: absolute;
		width: 49px;
		height: 30px;
		border-radius: 8px;

		z-index: 2;

		bottom: 23px;
		left: 0;
		right: 0;
		margin: 0 auto;
	}

	&__screen-container {
		position: relative;
		z-index: 2;

		margin: 21px 15px 0px 15px;
		border-radius: 8px;

		transform-origin: center center;
	}

	> p {
		position: absolute;
		bottom: -45px;
		left: 0;
		right: 0;
		margin: 0 auto;

		width: 300px;

		font-size: 40px;
		line-height: 30px;
		text-align: center;

		font-family: "Shadows Into Light", cursive;
		font-weight: 500;
		font-style: normal;
	}
}

.screen {
	width: 270px;
	height: 509px;
	border-radius: 8px;

	svg:hover {
		cursor: pointer;
	}

	> * {
		border-radius: 8px;
		width: calc(270px - 40px);
		height: calc(509px - 40px);
		padding: 20px;
	}

	&__home {
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		grid-template-rows: repeat(4, max(70px));
		row-gap: 10px;
		place-items: center;

		> * {
			width: 70px;
			aspect-ratio: 1/1;
		}
	}

	&__draw {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		align-items: center;

		canvas {
			width: 230px;
			height: 350px;
			border-radius: 10px;
			border: rgba(0, 0, 0, 0.384) solid 5px;

			&:hover {
				cursor: pointer;
			}
		}

		svg {
			width: 50px;
		}

		&__controls {
			display: flex;
			flex-direction: row;
			justify-content: space-between;
			align-items: center;
			gap: 10px;

			&__color {
				width: 45px;
				height: 45px;
				border-radius: 10px;
				border: rgba(0, 0, 0, 0.384) solid 1px;
			}

			input {
				width: 100px;
			}
		}
	}

	&__todo {
		display: flex;
		flex-direction: column;
		justify-content: space-between;

		h1 {
			background: none;
			border: none;
			box-shadow: none;
			outline: none;
			text-transform: none;
			padding: 0;
			margin: 0;
		}

		&__list {
			height: 350px;
            overflow-y: scroll;
			display: flex;
			flex-direction: column;
		}

		&__controls {
			display: flex;
			flex-direction: row;
			justify-content: space-between;

			svg {
				width: 50px;
			}
		}
	}
}
